body
{
  color: rgb(255, 255, 255);
  background: #2a957e;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(0, 255, 162);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(0, 0, 0);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
    font-size: 14px;
  color: #c0eea9;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}
.btn-warning
{
color: #000000;
background-color:#75aea1;
border-color:rgb(255, 255, 255)
}
.btn-success
{
color:black;
background-color:#75aea1;
border-color:white
}